#aboutPageBackground {
    background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1694109809/k8tjfefd3jgetupubcfl.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 85vh;
    text-align: left;
    transition: 1s ease-in-out;
}

@media (max-width: 900px) {
    #aboutPageBackground {
        height: 80vh;
        background-attachment: local;
    }
  }