#adminTitle {
    font-size: 40px;
    margin-bottom: 5%;
}

.adminSubtitle {
    font-size: 30px;
}

.adminForm {
    display: flex;
    flex-direction: column;
    margin-inline: 30%;
    text-align: left;
    margin-bottom: 5%;
}

.adminForm label { 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.adminForm input { 
    font-size: 18px;
    padding: 10px;
    background-color: rgb(79, 79, 79);
    color: white;
    margin-bottom: 2%;
}

.adminForm input::placeholder { 
    color: rgba(255, 255, 255, 0.586);
}

.adminForm button {
    max-width: 25%;
    margin-left: 75%;
}

.dbItemsWrapper {
    margin-inline: 15%;
    text-align: center;
    margin-bottom: 5%;
}

.mappedItemsWrapper {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.deleteButton {
    font-size: 14px;
    margin: 0 auto;
    margin-left: 5%;
}

.adminVideo {
    margin-left: 2%;
}

.deleteButton:hover {
    cursor: pointer;
}

.adminEventResult {
    font-size: 18px;
    color: rgb(11, 28, 110);
}

.adminEventResult:hover {
    color: rgb(135, 18, 123);
}