#schedulePageBackground {
    background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1694145040/SJ%20Race%20Timing/luhdtusnqx6vabkcuqpx.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 85vh;
    text-align: left;
    transition: 1s ease-in-out;
}

#fullEventsWrapper {
    display: flex;
    flex-direction: column;
    margin-inline: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.largeEventWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    max-height: 50px;
    padding-bottom: 5%;
    margin-bottom: 5%;
    border-bottom: solid 2px rgb(255, 0, 128);
    transition: 0.5s;
}

.eventDateLarge {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 40px;
    transition: 0.5s;
    color: rgb(39, 56, 131);
    font-size: 40px;
    position: relative;
    top: 10px;
}

.eventDayLarge {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: rgb(117, 133, 210);
}

.eventMonthLarge { 
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: rgb(39, 56, 131);
}

.eventNameLocationLarge {
    font-size: 25px;
    text-align: left;
    width: 80%;
    height: 50px;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    color: rgb(39, 56, 131);
}

.eventLocationLarge {
    padding: 0;
    font-weight: 300;
    font-size: 22px;
    color: black;
}

.largeEventWrapper:hover {
    cursor: pointer;
}

.largeEventWrapper:hover .eventDateLarge {
    translate: -500%;
    transition: 0.5s ease-in-out;
    opacity: 0;
}
  
.largeEventWrapper:hover .eventItemDateWrapperLarge {
    translate: -500%;
    transition: 0.5s ease-in-out;
    opacity: 0;
}
  
.largeEventWrapper:hover .eventNameLocationLarge {
    translate: -20%;
    width: 100%;
}

#eventDatesWrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 20%;
}

.eventItemDateWrapperLarge {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

@media (max-width: 900px) {
    #schedulePageBackground {
        height: 80vh;
        background-attachment: local;
    }
  }

@media (max-width: 600px) {
    #fullEventsWrapper {      
        margin-inline: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .largeEventWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      max-width: 100%;
      max-height: 50px;
      padding-bottom: 5%;
      margin-bottom: 5%;
      border-bottom: solid 2px rgb(255, 0, 128);
      transition: 0.5s;
    }
  
    .largeEventWrapper .button {
      font-size: 12px;
      padding: 5px;
    }
  
    .eventDayLarge {
      font-size: 14px;
    }
    
    .eventMonthLarge {
      font-size: 14px;
    }
    
    .eventDateLarge {
      font-size: 25px;
      margin-top: 10px;
    }

    .eventNameLocationLarge {
        font-size: 16px;
        height: 50px;
        width: 60%;
        color: black;
    }
    
    .eventLocationLarge {
        font-size: 14px;
        color: black;
    }

    .eventItemDateWrapperLarge {
        position: relative;
        top: 12px;
    }

    #eventDatesWrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 20%;
    }
}