#servicesPageBackground {
    background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1694145040/SJ%20Race%20Timing/umfyl7trrjuiluopp6f4.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 85vh;
    text-align: left;
    transition: 1s ease-in-out;
}

@media (max-width: 900px) {
    #servicesPageBackground {
        height: 80vh;
        background-attachment: local;
    }
  }